<!DOCTYPE html>
<html>
  <head>
    <title>Inconvergent Sandbox</title>
    <meta name="description" content="p5js sandbox">
  </head>
  <body>
    <header>
      <h1>Inconvergent Sandbox</h1>
    </header>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>

    <ul>
      <li><a href="/intersect.html">intersect</a> mouseover to affect the canvas.</li>
      <li><a href="/box-extrude.html">box extrude</a> click the mouse to extrude.</li>
    </ul>

    <p>See the code on <a href="https://github.com/inconvergent/inconvergent-sandbox">github</a>.</p>

  </body>
</html>
