<!DOCTYPE html>
<html>
  <head>
    <title>Inconvergent Sandbox</title>
    <meta name="description" content="p5js sandbox">
  </head>
  <body>
    <header>
      <h1>Inconvergent Sandbox</h1>
    </header>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>

    <p>Interactive demos written using P5.js.</p>

    <p>The demos are intended for desktops. They may, or may, not work on
      phones and tablets.</p>

    <p>Demos:</p>

    <ul>
      <li><a href="/app/intro.html">intro</a></li>
      <li><a href="/app/circles.html">circles</a></li>
      <li><a href="/app/tree.html">tree</a></li>
      <li><a href="/app/intersect.html">intersect</a></li>
      <li><a href="/app/mirror.html">mirror</a></li>
      <li><a href="/app/box-extrude.html">box extrude</a></li>
    </ul>

    <p>You can also see the code on <a href="https://github.com/inconvergent/inconvergent-sandbox">github</a>.</p>

    <p><a href="https://p5js.org/reference/">p5.js reference</a></p>

    <p></p>

    <p><a href="https://inconvergent.net">inconvergent</a></p>

  </body>
</html>
